@charset "UTF-8";

.page-layout {
    font-family: var(--font-Helvetica-Neue);
    min-height: 100vh;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.body-page-layout {
    display: grid;

    background-color: var(--color-black);
}