@charset "UTF-8";

.page-layout {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.body-page-layout {
    position: relative;
    display: grid;
    font-family: var(--font-Helvetica-Neue);

    background-color: hsl(0, 0%, 0%);
    z-index: 0;
}

.body-page-layout::after {
    content: "";
    position: absolute;
    top: 1%;
    left: 0;
    width: 100%;
    height: 92.256%;

    background-image:
        linear-gradient(to right, rgba(255, 255, 255, 0.3) 1px, transparent 1px);
    background-size: 20% 100%;
    background-repeat: repeat-x;

    -webkit-mask-image: linear-gradient(to bottom,
            transparent 0%,
            black 12%,
            black 50%);
    mask-image: linear-gradient(to bottom,
            transparent 0%,
            black 12%,
            black 50%);
    z-index: -1;
    pointer-events: none;
    opacity: .4;
}