@charset "UTF-8";

.body-page-layout {
    display: grid;
    min-height: 100vh;

    background-color: var(--color-gray-60);

    grid-template-rows:
        98px 1fr auto;
}


.header-layout {
    display: grid;
    grid-template-columns: minmax(6rem, 12rem) 1fr 1fr;
    grid-template-rows: inherit;
    /* background-color: red; */
}

.main-layout {
    position: relative;
    display: grid;

    grid-auto-rows: .4fr 1fr 1fr;
    /* background-color: rgb(111, 255, 0); */

}

.main-layout::after {
    content: "";
    position: absolute;
    top: -20%;
    left: 25%; 
    width: 1px;
    height: 75%; 
    background: rgba(0,0,0,.15);
    box-shadow:
        25vw 0 0 rgba(0,0,0,.15),
        50vw 0 0 rgba(0,0,0,.15),
        75vw 0 0 rgba(0,0,0,.15); /* вот добавили четвёртую линию */
    pointer-events: none;
}




.footer-layout {
    background-color: rgb(21, 0, 255);

}