@charset "UTF-8"; 

.body-page-layout{
    display: grid;
    min-height: 150vh;
    background-color: var(--color-gray-60);

    grid-template-rows: 98px 1fr 200px;
} 


.header-layout{
    display: grid;
    grid-template-columns: minmax(6rem, 12rem) 1fr 1fr;
    grid-template-rows: inherit;
} 
.main-layout{
    display: grid;
    
    grid-template-rows: 10rem 50rem 30rem;

    /* background-color: rgb(111, 255, 0); */
    
}

.main-layout::after {
    content: "";
    position: fixed;
    top: 0;
    bottom: 0;
    left: 25%;
    width: 1px;
    background: rgba(0,0,0,.15);
    box-shadow:
        25vw 0 0 rgba(0,0,0,.15),
        50vw 0 0 rgba(0,0,0,.15);
    pointer-events: none;
}

.footer-layout{
    background-color: rgb(21, 0, 255);

}