@charset "UTF-8";

/* [LOGO] */

.header-layout {
    position: relative;
    display: grid;
    grid-template-columns: minmax(6rem, 12rem) 1fr 1fr;
    height: 98px;
    /* background-color: red; */
} 

.header-layout .header-icon {
    display: flex;
    place-content: center;
    align-items: center;
    z-index: 1;
    /* background-color: red; */
}

.header-layout .bg-video {
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 120%;

}

.header-layout .bg-video video {
    height: 100%;
    width: 100%;
    object-fit: cover;

    mask-image: linear-gradient(to top,
            transparent 0%,
            black 20%,
            black 100%);

    -webkit-mask-image: linear-gradient(to top,
            transparent 0%,
            black 20%,
            black 100%);
}

.header-icon .icon {
    display: flex;
    justify-content: center;
    margin-left: .5rem;
    height: 90%;
    width: 50%;
    /* background-color: aliceblue; */
}

.header-icon .icon .logo {
    mask-image: url(../assets/svg/payload.svg);
    height: calc(1.9rem * 1.8);
    width: calc(1.5rem * 1.8);
    mask-size: cover;
    background-color: #fff;
}

.header-icon .icon .text {
    position: absolute;
    font-weight: 500;
    color: var(--color-white);
    font-size: x-large;
    top: 2.1rem;
}

/* [LEFT SIDE] */
.header-layout .left-options {
    display: grid;
    grid-template-columns: minmax(5rem, 8rem) minmax(5rem, 8rem) minmax(5rem, 8rem) minmax(5rem, 8rem);
    align-items: center;
    z-index: 1;
}

.header-layout .left-options .option {
    height: 2.5rem;
    width: 7rem;
    border: none;
    border-radius: 12px;
    background-color: transparent;
    color: #ffffff;
    font-size: 19.5px;
    cursor: pointer;
    transition: background var(--time-animation);

}

.header-layout .left-options .option:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

/* [RIGHT SIDE] */

.right-options {
    display: flex;
    padding-top: 10px;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    /* background-color: red; */
    z-index: 1;
    transition: gap var(--time-animation);
}

.right-options .option {
    display: flex;
    justify-content: end;
    /* background-color: #211f1f; */
    height: 55%;
    max-width: 17rem;
    width: 50%;
    white-space: nowrap;

    /* background-color: #fff; */
}

.right-options .option .button {
    width: 100%;
    height: 70%;
    border-radius: 3rem;
    background-color: transparent;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    transition: background var(--time-animation);
}

.right-options .option :is(.language, .partner):hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.right-options .option-language {
    display: flex;
    justify-content: center;
    width: 10rem;
}

.right-options .option-language .language {
    display: flex;
    place-content: center;
    align-items: center;
    gap: 2px;
    width: 6.5rem;
    border: 1px solid #c6c4c0;
    color: #e3e1dd;
}

.right-options .option-language .language .text {
    margin: 0;
    margin-left: 1rem;
    font-size: 18px;
}

.right-options .option-language .language .arrow {
    margin: 0 0 1px 4px;
    mask-image: url(../assets/svg/arrowdown.svg);
    background-color: currentColor;
    height: 2.2rem;
    width: 2.2rem;
    mask-size: cover;
}

.right-options .option-partner .partner {
    border: 1px solid #fefbe5;
}

.right-options .option-partner .partner .text {
    color: #fefbe5;
    
}

.right-options .option-order .order {
    margin-right: 1rem;
    border: none;
    background-color: #fefbe5;
}

.right-options .option .button a {
    display: block;
    text-decoration: none;
    place-content: center;
    color: #211f1f;
    font-family: var(--font-nutino);
    height: 100%;
    width: 100%;
}

@media (min-width: 900px) {
    .right-options {
        gap: 35px;
    }
}

@media (max-width: 600px) {
    .right-options .option-language .language {
        width: 5.5rem;
    }
}