.main-layout .introduction {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* background-color: aqua; */
    height: 20rem;
}

.introduction .left-text {
    display: flex;
    padding: 4rem 0 0 3rem;
    align-items: start;
    font-size: 4rem;
    font-family: var(--font-Helvetica-Neue);
    font-weight: 100;

    color: #e3e1dd;

    /* background-color: purple; */
    transition: padding var(--time-animation);
}

.introduction .right-text {
    display: flex;
    justify-content: flex-end;
    align-items: start;
    padding: 4rem 3rem 0 0;
    /* background-color: antiquewhite; */
}

.introduction .right-text .small-text {
    font-size: 24px;
    color: #e3e1dd;
}

/* [header] */

.main-layout .header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* background-color: red; */

    height: 900px;
}

.main-layout .header::before {
    content: "";
    position: absolute;
    top: 10%;
    left: 0%;
    width: 50.2%;
    height: 1px;
    background: linear-gradient(to right,
            rgba(255, 255, 255, 0.3));
    z-index: 2;
}

.main-layout .header .motivational-text {
    display: flex;
    align-items: end;
    justify-content: center;
    /* background-color: green; */
}

.main-layout .header .motivational-text .motional {
    height: 70%;
    width: 60%;
    margin-right: 6rem;
    text-align: center;
}

.main-layout .header .motivational-text .motional p {
    position: relative;
    font-size: 3rem;
    color: #fff;
    /* background-color: var(--color-gray-60); */
    z-index: 15;
}

.main-layout .header .company-laptop {
    position: relative;
    /* background-color: aqua; */
}

.main-layout .header .company-laptop img {
    position: absolute;
    margin-left: 20rem;
    height: 800px;
    top: 35%;
    left: 30%;

    z-index: 1;
    transform: translate(-50%, -50%);
}

/* [services] */

.main-layout .services {
    display: grid;

    height: 1100px;
    /* background-color: #c40000; */
    grid-template-columns: 1fr 1fr;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.main-layout .services .lock {
    display: flex;
    justify-content: start;
    
    /* background-color: #f3f3f3; */
}

.main-layout .services .lock img {
    height: 100%;
    width: 90%;
    /* background-color: red; */
}

.main-layout .services .provide-services {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: blue; */
}

.main-layout .services .provide-services .provide-header {
    align-self: center;
    margin-left: 7rem;
    font-size: 2.5rem;
    color: #fff;
}

.main-layout .services .provide-services .provide {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 45%;
}

.main-layout .services .provide-services .provide .slot-services {
    display: grid;

    grid-template-areas:
        "protection-header stat-deployed"
        "text text"
        "button button";

    font-family: var(--font-nutino);
    border: 1px solid rgba(255, 255, 255, 0.663);
    font-size: 1.2rem;
    padding-left: 2rem;
    cursor: pointer;
    overflow: hidden;
}

.main-layout .services .provide-services .provide .slot-services .stat-deployed {
    grid-area: stat-deployed;
    display: flex;
    justify-content: end;
    align-items: start;
    padding: 1rem 1rem 0 0;
    transition: all var(--time-animation);
    /* background-color: #5b1414; */
}

.main-layout .services .provide-services .provide .slot-services .stat-deployed svg {
    color: #fff;
    width: 35px;
    transition: transform var(--time-animation);
}

/* .main-layout .services .provide-services .provide .packet-inspection {}

.main-layout .services .provide-services .provide .ai-threat {}

.main-layout .services .provide-services .provide .ddos-protection {}

.main-layout .services .provide-services .provide .cloud-support {} */

.main-layout .services .provide-services .provide .slot-services .protection-header {
    grid-area: protection-header;
    font-size: 1.5rem;
    color: #fff;
}

.main-layout .services .provide-services .provide .slot-services .text {
    grid-area: text;
    color: #575454;
    padding-right: 1rem;
    max-height: 0;
    opacity: 0;
    transition: all .3s;
}

.main-layout .services .provide-services .provide .slot-services .button {
    grid-area: button;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row-reverse;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #fff;
    height: 100%;
    width: 100%;
    align-self: center;
    grid-column: 1 / -1;
    max-height: 0;
    opacity: 0;
    transition: all .3s;
}

.main-layout .services .provide-services .provide .slot-services .button:hover svg {
    transform: translateX(-1rem);
}

.main-layout .services .provide-services .provide .slot-services .button p {
    font-size: 1.5rem;
    font-weight: 600;

}

.main-layout .services .provide-services .provide .slot-services .button svg {
    transition: transform var(--time-animation);
    width: 40px;
    height: 25px;

}

.main-layout .services .lock {
    /* background-color: red; */
    position: relative;
}

.main-layout .services .lock .grid {
    position: relative;
    height: 39rem;
    width: 60rem;
    left: 10%;
    top: 15%;

}

.main-layout .services .lock .grid::before {
    content: "";
    position: absolute;
    height: 39rem;

    width: 60rem;
    pointer-events: none;
    opacity: .1;
    background-image: url(https://payloadcms.com/images/scanline-light.png);
}

.Desktop_crosshair {
    position: absolute;
    top: 0%;
    left: 0%;
    color: rgb(255, 255, 255);
    transform: translate(-50%, -50%);
    opacity: .7;
}

/* [achivent] */
.main-layout .layout-achivent {
    position: relative;
    height: 650px;
    /* background-color: red; */
    z-index: 2;

    mask-image: linear-gradient(to bottom,
            transparent,
            black 20%,
            black 90%,
            transparent);
    -webkit-mask-image: linear-gradient(to bottom,
            transparent,
            black 20%,
            black 90%,
            transparent);
    padding: 1rem;
}

/* .main-layout .layout-achivent::after{
    content: "";
    position: absolute;
    height: 110%;
    width: 100%; 
    left: 0;
    top: 0;
    

} */
.layout-achivent .achivent {
    position: relative;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 4rem;
    /* background-color: rgb(236, 153, 0); */
    
}

.layout-achivent .achivent::before {
    content: "";
    position: absolute;
    height: 100%;

    width: 100%;
    pointer-events: none;
    opacity: .1;
    background-image: url(https://payloadcms.com/images/scanline-light.png);

    -webkit-mask-image: linear-gradient(to right,
            transparent,
            black 5%,
            black 95%,
            transparent);

    mask-image: linear-gradient(to right,
            transparent,
            rgb(252, 199, 199) 5%,
            black 95%,
            transparent);
    
    z-index: 2;
}

.achivent .achivent-selection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 350px;
    /* background-color: red; */
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;

    mask-image: linear-gradient(to bottom,
            transparent,
            black 20%,
            black 80%,
            transparent);

    padding: 1rem;

}


.layout-achivent .achivent .achivent-selection .icon {
    /* background-color: #575454; */
    height: 8rem;
    width: 8rem;
}

.layout-achivent .achivent .achivent-selection .icon svg {
    /* background-color: #575454; */
    fill: #e6e3e3;

    transition: fill var(--time-animation), transform 0.3s cubic-bezier(.4, 0, .2, 1);
}

.layout-achivent .achivent .achivent-selection:hover .icon svg {
    /* background-color: #575454; */
    fill: #ffffff;
    transform: scale(1.07);

}

.layout-achivent .achivent .achivent-selection .header-text {
    font-size: 1.7rem;
    color: #fff;

    font-family: var(--font-Helvetica-Neue);

}

.layout-achivent .achivent .achivent-selection .text {
    font-size: 1rem;
    font-family: var(--font-nutino);
    color: #e6e3e3;
    text-align: center;
    

}

@media (max-width: 1000px) {
    .introduction {
        grid-template-columns: 1fr .7fr;
    }

    .introduction .left-text {
        padding-left: .5rem;
    }
}

@media(max-width: 900px) {
    .main-layout .services .provide-services .provide .slot-services .stat-deployed {
        padding: 1rem 0 0 0;
    }
}