.introduction { 
    display: grid; 
    grid-template-columns: 1fr 1fr;
    /* background-color: aqua; */
} 

.introduction .left-text{
    display: flex;
    padding-left: 3rem;
    align-items: center;
    font-size: 4rem;
    font-family: var(--font-Helvetica-Neue);
    font-weight: 100;
    /* background-color: red; */
    transition: padding var(--time-animation);
} 

.introduction .right-text{
    display: flex;
    justify-content: flex-end;
    align-items: start;
    padding: 2rem 3rem 0 0; 
    /* background-color: antiquewhite; */
} 

.introduction .right-text .small-text{
    font-size: 19px;
} 

/* [header] */ 

.header{ 
    
} 

@media (max-width: 1000px){
    .introduction{
        grid-template-columns: 1fr .7fr;
    }
    .introduction .left-text{
        padding-left: .5rem;
    }
}