.main-layout .introduction { 
    display: grid; 
    grid-template-columns: 1fr 1fr;
    /* background-color: aqua; */
} 

.introduction .left-text{
    display: flex;
    padding: 2rem 0 0 3rem;
    align-items: start;
    font-size: 4rem;
    font-family: var(--font-Helvetica-Neue);
    font-weight: 100;
    /* background-color: red; */
    transition: padding var(--time-animation);
} 

.introduction .right-text{
    display: flex;
    justify-content: flex-end;
    align-items: start;
    padding: 2rem 3rem 0 0; 
    /* background-color: antiquewhite; */
} 

.introduction .right-text .small-text{
    font-size: 19px;
} 

/* [header] */ 

.main-layout .header{ 
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* background-color: red; */
} 

.main-layout .header .motivational-text{
    display: flex; 
    align-items: end;
    justify-content: center;
    /* background-color: green; */
}
.main-layout .header .motivational-text .motional {
    height: 70%;
    width: 60%;
    margin-right: 2rem;
}
.main-layout .header .motivational-text .motional p{
    font-size: 2.5rem;
    color: #181818 ;
}
.main-layout .header .company-laptop{
    position: relative;
    /* background-color: aqua; */
} 

.main-layout .header .company-laptop img{
    position: absolute;
    margin-left: 20rem;
    height: 800px; 
    top: 45%;
    left: 30%;

    transform: translate(-50%, -50%);
}
@media (max-width: 1000px){
    .introduction{
        grid-template-columns: 1fr .7fr;
    }
    .introduction .left-text{
        padding-left: .5rem;
    }
}