.introduction { 
    display: grid; 
    grid-template-columns: 1fr 1fr;
    background-color: aqua;
} 

.left-text{
    display: flex;
    padding-left: 3rem;
    background-color: red;
    align-items: center;
    font-size: 4rem;
    font-family: var(--font-Helvetica-Neue);
    font-weight: 100;
} 

.right-text{
    background-color: antiquewhite;
} 

.small-text{
    
}