@charset "UTF-8";

:root {
    /* Начальные координаты фонарика (центр экрана) */
    --mouse-x: 50%;
    --mouse-y: 50%;
}
.footer-layout {
    position: relative;
    overflow: hidden;
    /* background-color: rgb(21, 0, 255); */
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    height: 65rem;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-layout .row {
    position: relative;
    display: flex;
    flex-direction: column;
    /* background-color: rgb(184, 146, 146); */
    width: 25rem;
    border-left: 1px solid rgba(255, 255, 255, .3);
    padding-top: 15rem;
    z-index: 10;
}

.footer-layout .row .header-row {
    font-size: 1.55rem;
    letter-spacing: 2px;
    padding-bottom: 1.5rem;
    align-items: start;
    color: #e6e3e3;
    padding-left: .5rem;

}

.footer-layout .row .column {
    font-size: 1.2rem;
    color: #e6e3e3;
    width: 145px;
    height: 60px;
    padding-left: 1rem;

}

.footer-layout .row .column:hover p {
    color: #fff;
    cursor: pointer;
}

.footer-layout .row-four {

    border-right: 1px solid rgba(255, 255, 255, .3);
}

.footer-layout .row-four .column1 {
    width: 100%;
    padding-left: 0;

}

.footer-layout .row-four .column1 input {
    padding: 1rem;
    width: 100%;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, .3);
    color: #e6e3e3;
    font-size: 18px;
}

.footer-layout .row-four .column1 input:focus {
    outline: none;
}

.footer-layout .row-four .column1 input::placeholder {
    padding: 0 .1rem;
    color: #e6e3e3;
}

.footer-layout .row-four .column2 {
    display: flex;
    width: 100%;
    padding: 3rem 0;
}

.footer-layout .row-four .column2 a {
    padding: 0 .7rem;
    color: #e6e3e3;

}

.Footer_socialIconLink svg {
    line-height: 0;
}

.footer-text {
    position: absolute;
    top: 100%;
    left: 49.5%;
    font-size: 30vw;
    font-weight: 800;
    color: #000000; 
    width: 100%;
    transform: translate(-50%, -50%);
    z-index: 1;
    --x: 0%;
    --y: 0%;
    pointer-events: none;
}

.footer-text::after {
    content: attr(data-text);
    position: absolute;
    inset: 0;
    background: url("../assets/image/noise.png") repeat, rgb(77, 75, 75); 
    background-size: 400px 400px;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    z-index: 2;
    pointer-events: none;

    -webkit-mask-image: radial-gradient(
        circle 40vw at var(--x) var(--y), 
        black 0%, 
        black 30%,           
        rgba(0, 0, 0, 0.4) 65%, 
        rgba(0, 0, 0, 0.1) 90%, 
        transparent 100%
    );
    mask-image: radial-gradient(
        circle 40vw at var(--x) var(--y), 
        black 0%, 
        black 30%, 
        rgba(0, 0, 0, 0.4) 65%, 
        rgba(0, 0, 0, 0.1) 90%, 
        transparent 100%
    );
} 

